@import "tailwindcss";
body {
  /* background-image: url("./assets/images/glavniy.jpg"); */
   /* background-image:url("https://mdclabs.almoosaclinics.com/wp-content/uploads/2017/04/events-parallax-1.jpg"); */
background-position: center;  
width: 100%;
height: 100vh;
background-size: cover;        
background-repeat: no-repeat;  
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-VariableFont_wght.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
  
}

html,
body {
  font-family: "Montserrat", system-ui, sans-serif;
}

/* chapdan o'ngga oqish */
@keyframes ecg-flow {
  0% {
    stroke-dashoffset: 0;
    opacity: 0.6;
  }

  50% {
    stroke-dashoffset: 130;
    opacity: 1;
  }

  100% {
    stroke-dashoffset: 260;
    opacity: 0.6;
  }
}

@keyframes ecg-soft-glow {

  0%,
  100% {
    filter: drop-shadow(0 0 0px rgba(0, 183, 181, 0));
  }

  50% {
    filter: drop-shadow(0 0 6px rgba(0, 183, 181, 0.45));
  }
}

@keyframes floatSlow {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-15px); }
  100% { transform: translateY(0px); }
}